@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

@mixin panel {
  height: 150px;
  width: 100%;
  position: absolute;
  z-index: calc(#{$boid-z-index} + 1);
  display: flex;
  align-items: center;
  padding: 20px;
}

:host {
  display: flex;
  height: 100vh;
  background: #eae7dc;

  .boids {
    &__container {
      height: 100%;
      width: 100%;
    }

    &__boid {
      position: absolute;
      z-index: $boid-z-index;
    }
  }

  .controls {
    @include panel;
    bottom: 0;

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }

    &__button {
      @include reset-button;
      height: 40px;
      font-size: $boids-control-font-size;
      font-weight: $boids-control-font-weight;
      color: $boids-font-color;
      border: 1px solid $boids-font-color;
      border-radius: 1px;

      &:hover {
        background-color: rgba($boids-font-color, 0.05);
      }
    }
  }

  .debug {
    @include panel;
    background: $boids-debug-background;
  }
}
