<section class="debug" *ngIf="isDebugEnabled$ | async" [@slideInOut]>
  <app-debug></app-debug>
</section>

<section class="boids__container">
  <app-boid
    *ngFor="let boid of flock.boids; trackBy: identifyBoid"
    class="boids__boid"
    [boid]="boid"
    [boidsAround]="flock.boids">
  </app-boid>
</section>

<section class="controls">
  <button class="controls__button" (click)="onDebugButtonClick()">
    <ng-container *ngIf="isDebugEnabled$ | async">Disable </ng-container>
    <ng-container *ngIf="!(isDebugEnabled$ | async)">Enable </ng-container>
    Debug
  </button>
</section>

<app-grid
  *ngIf="isGridShown$ | async"
  [@fadeInOut]
  [step]="50">
</app-grid>
