@import "variables";

:host {
  display: flex;
  height: 100vh;
  background: #eae7dc;

  .boids {
    &__container {
      height: 100%;
      width: 100%;
    }

    &__boid {
      position: absolute;
      z-index: $boid-z-index;
    }
  }
}
