@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --error-color: #dc3545;
}

html, body {
  height: 100%;
}

h1, h2, h3 {
  font-weight: normal;
}

.ng-dirty.ng-invalid {
  border-color: var(--error-color);
}
