@import "fonts";
@import "colors";

$debug-grid-z-index: 1;
$boid-z-index: calc(#{$debug-grid-z-index} + 1);
$boids-font-color: $heathered-grey;
$boids-debug-background: rgba($raffia, 0.5);
$boids-control-font-size: 20px;
$boids-control-font-weight: $font-weight-medium;
