@import "fonts";

$debug-grid-z-index: 1;
$boid-z-index: calc(#{$debug-grid-z-index} + 1);
$boids-font-color: #8E8D8A;
$boids-control-font-size: 20px;
$boids-control-font-weight: $font-weight-medium;
