@import "variables";

:host {

  .form {

    &__fieldset {
      display: flex;
    }

    &__label {
      display: flex;
      align-items: center;
    }
  }

  .checkbox {

    height: 20px;
    width: 20px;

    &__text {
      margin-left: 10px;
      font-size: $boids-control-font-size;
      font-weight: $boids-control-font-weight;
      color: $boids-font-color;
    }
  }
}
